<header class="banner" role="banner">
   <div class="banner__block">
       <h2><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2>
       <p>I am a front-end developer living in Denver, CO. I am obsessed with Javascript and I have a thing for accessibility. </p>
       <nav role="navigation">
          <ul class="inline-list">
            {% for link in site.data.links %}
              <li>
                <a
                  class="has-tooltip"
                  title="{{ link.title }}"
                  target="_blank"
                  href="{{ link.url }}">
                  <i class="fa fa-{{ link.icon }}"></i>
                  <span class="tooltip">{{ link.title }}</span>
                </a>
              </li>
            {% endfor %}
           </ul>
       </nav>
   </div>
</header>
