.sub .banner {
    display: none;
}

.banner {
    height: 100vh;
    background: -webkit-linear-gradient(45deg, #5f2c82 10%, #49a09d 90%); 
    background:    -moz-linear-gradient(45deg, #5f2c82 10%, #49a09d 90%); 
    background:     -ms-linear-gradient(45deg, #5f2c82 10%, #49a09d 90%); 
    background:      -o-linear-gradient(45deg, #5f2c82 10%, #49a09d 90%); 
    background:         linear-gradient(45deg, #5f2c82 10%, #49a09d 90%); 
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    font-family: 'Lato', sans-serif;
    padding: 1.42105263em;
    color: #FFF;
    text-align: center;
    left: 0; 
    position: static;

    &__block {
        max-width: 500px;
    }
    
    a {
        color: #FFF;
        text-decoration: none;

        &.underline {
            text-decoration: underline;
        }

        &.button {
            i {
                transition-duration: 0ms;
            }
        }
        &.button:hover {
            background: #FFF;
            color: #49a09d;
        }
    }
}


@media screen and (min-width: 48em) {
    .sub .banner {
        display: flex;
        display: -webkit-flex;
    }
    .banner {
        height: 50vh;
    }
}

@media screen and (min-width: 64em) {
    .banner {
        height: 100vh;
        position: fixed;
        width: 35%;
    }
}