---
layout: sub
values:
    is_post: true # automatically set is_post=true for all posts
---
<div class="back-link">
	<div class="back-link__wrapper">
		<a href="{{ site.baseurl }}/"><i class="fa fa-arrow-left"></i> Go Home</a>
	</div>
</div>
<article class="article hentry">
    <header class="article__header entry-header">
        <h1 class="article__title entry-title">
            {{ page.title }}
        </h1>
        <div class="article__meta entry-meta">
            <div class="article__date entry-date">
                    <time class="entry-date" datetime="{{ page.date }}">
                        {{ page.date | date: "%b %-d, %Y" }}
                    </time>
            </div>
            <div class="vcard">
                <a class="url fn n" href="https://twitter.com/cssaddict" target="_blank" rel="author" title="Connor McKelvey's Twitter">Connor McKelvey</a>
            </div>
        </div><!-- .entry-meta -->
    </header><!-- .entry-header -->
    <div class="article__content entry-content">
        {{ content }}
    </div><!-- .entry-content -->
    <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'connormckelvey';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    <footer class="article__footer entry-meta">

    </footer>
</article>
